body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size:14px;
    color: #202124;
}

a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: right;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img {
    padding: 0.8px;
}

.header-img:hover {
    box-shadow: 0 0 10px 0 grey;
    border-radius: 20px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

}

.logo {
    padding-bottom: 50px;
}

.text_box {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.text_box:hover {
    box-shadow: 0 0 10px 0 grey;
}

.text_box > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.loupe, .micro, .camera  {
    border-radius: 50%;
}

img:hover {
    cursor:pointer;
}

.buttons {
    padding-top: 50px;
}

button {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 grey;
}

footer {
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer-left {
    display: flex;
    justify-self: start;
    float: left;
    padding-left: 20px;
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

@media (max-width: 630px) {
    #footer-nav{
        flex-direction: column;
    }
    #footer-left {
        justify-content: center;
    }
    #footer-right {
        justify-content: center;
    }
    .text_box {
        width: 95vw;
    }
}

@media (max-height: 522px) {
    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 20px;
    }
    footer{
        position: relative;
    }
}

@media (max-height: 570px) and (max-width: 630px) {
    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 13px;
    }
    footer {
        position: relative;
    }
}